:root {
    --azul-fuerte: #003785;
    --azul-oscuro: #1465bb;
    --azul-claro: #81c9fa;
    --azul-suave: #b9ffff;
    --black: #000000;
    --white: #ffffff;
    --gray: #808080;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --ex: 20px;
    --border: solid 2px #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
/* -------------ESTILOS PARA ETIQUETAS a Y PARA ESTIQUETAS li-------------- */
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--azul-suave);
}

/* Estilos barra navegacion desktop */

.nav-container-desktop {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0 20px 0;
    position: fixed;
    background-image: linear-gradient(180deg, var(--azul-oscuro), var(--azul-suave), var(--azul-claro));
}

.nav-container-desktop ul {
    display: flex;
    gap: 40px;
    width: auto;
    justify-content: center
}

.items-nav {
    width: 100%;
    height: 30px;
    position: relative;
    cursor: pointer;
    color: var(--black);
    font-weight: bold;
    font-size: var(--lg);
}

.items-nav::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 80%;
    border-radius: 20%;
}

.items-nav:hover::before {
    animation: animateIn 400ms ease-in-out forwards;
}

.items-nav::before {
    animation: animateOut 400ms ease-in-out forwards;
}

@keyframes animateIn {
    0%{
        border-right: var(--border);
        border-left: var(--border);
        width: 0%;
        left: 50%;
    }
    100%{
        border-right: var(--border);
        border-left: var(--border);
        width: 130%;
        left: -20%;
    }
}

@keyframes animateOut {
    0%{
        border-right: var(--border);
        border-left: var(--border);
        width: 130%;
        left: -20%;
    }
    60%{
        border-right: var(--border);
        border-left: var(--border);
        width: 0%;
        left: 50%;
    }
    100%{
        width: 0%;
        left: 50%;
    }
}

/* Estilos del main */
p {
    text-align: justify;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.target {
    background-color: var(--azul-claro);
    padding: 15px 0;
    height: 85vh;
    width: 80%;
    border-radius: 50px;
    border: solid 4px var(--azul-fuerte);
    position: relative;
    top: 80px;
}

/* Estilos primera tarjeta*/

.hero {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto;
    align-content: center;
}

.hero .container-hero1 {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container-hero1 #photo {
    border-radius: 50%;
    width: 280px;
    height: 320px;
}

.hero .container-hero2 {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 20px;
}

.hero .container-hero2 h2 {
    color: var(--azul-fuerte);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero .container-hero2 h3 {
    color: var(--azul-fuerte);
    margin-bottom: 1rem;
}

.hero .container-hero2 p {
    color: var(--white);
    margin-bottom: 1rem;
    font-size: var(--ex);
}

.hero .container-hero2 button {
    color: var(--white);
    border: 0;
    background-image: linear-gradient(150deg, var(--azul-oscuro), var(--azul-fuerte), var(--azul-oscuro));
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    padding: 4px;
    transition: .4ms;
}

.hero .container-hero2 button span {
    background-color: var(--black);
    padding: 6px 10px;
    border-radius: 6px;
    transition: .3ms;
}

.hero .container-hero2 button:hover span {
    background: none;
}

.hero .container-hero3 {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .container-hero3 img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

/* Estilos segunda tarjeta */

.container-main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 15% auto;
    padding: 0px 20px;
}

.container-main .container-main-about1 {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container-main .container-main-about2 {
    grid-area: 2/1/3/2;
    display: flex;
    padding: 0 15px 0 15px;
    justify-content: center;
    align-items: center;
    font-size: var(--ex);
}

.container-main .container-main-about3 {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container-main .container-main-about3 img {
    width: 300px;
    height: 300px;
}

/* Estilos tercera tarjeta */


.container-main1 {
    display: grid;
    grid-template-columns: 0.3fr repeat(3, 1fr) 0.3fr;
    grid-template-rows: 20% 40% 40%;
}

.container-main1 .container-main-skills0 {
    grid-area: 1/2/2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.container-main1 .container-main-skills1 {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-main1 .container-main-skills2 {
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-main1 .container-main-skills3 {
    grid-area: 2/4/3/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-main1 .container-main-skills4 {
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-main1 .container-main-skills5 {
    grid-area: 3/3/4/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-main1 .container-main-skills6 {
    grid-area: 3/4/4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-main1 img {
    width: 100px;
    height: 100px;
}

.container-main1 img:hover {
    width: 120px;
    height: 120px;
    opacity: 0.4;
    
}