:root {
    --border: 5px solid rgb(201, 48, 48);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
/* -------------ESTILOS PARA ETIQUETAS a Y PARA ESTIQUETAS li-------------- */
    text-decoration: none;
    list-style: none;
}

body {
    /* background-color: rgb(88, 228, 106); */
    font-size: large;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13vh;
}

p {
    text-align: justify;
}

.container-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin-bottom: 30px;
    position: fixed;
    background-image: linear-gradient(180deg, #26cd98, rgb(195, 148, 29), #94f01d);
    border-radius: 30px;
}

.container-nav ul {
    display: flex;
    gap: 40px;
    width: auto;
    justify-content: center
}

.items-nav {
    width: 100%;
    height: 30px;
    position: relative;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.items-nav::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 80%;
    border-radius: 20%;
}

.items-nav:hover::before {
    animation: animateIn 400ms ease-in-out forwards;
}

.items-nav::before {
    animation: animateOut 400ms ease-in-out forwards;
}

@keyframes animateIn {
    0%{
        border-right: var(--border);
        border-left: var(--border);
        width: 0%;
        left: 50%;
    }
    100%{
        border-right: var(--border);
        border-left: var(--border);
        width: 130%;
        left: -20%;
    }
}

@keyframes animateOut {
    0%{
        border-right: var(--border);
        border-left: var(--border);
        width: 130%;
        left: -20%;
    }
    60%{
        border-right: var(--border);
        border-left: var(--border);
        width: 0%;
        left: 50%;
    }
    100%{
        width: 0%;
        left: 50%;
    }
}

.hero {
    display: grid;
    grid-template-columns: 0.3fr 2fr 3fr 0.5fr 0.3fr;
    grid-template-rows: auto;
    background-color: aqua;
    padding: 15px 0;
    height: 85vh;
    width: 80%;
    border-radius: 50px;
    border: solid 1px red;
}

.hero .container-hero1 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
}

.hero .container-hero1 #photo {
    border-radius: 50%;
    width: 70%;
    height: 60%;
}

.hero .container-hero2 {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 20px;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
}

.hero .container-hero2 h2 {
    font-size: 2rem;
    color: blueviolet;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero .container-hero2 h3 {
    font-size: 1.4rem;
    color: blueviolet;
    text-align:end;
    margin-bottom: 1rem;
}

.hero .container-hero2 p {
    color: blueviolet;
    margin-bottom: 1rem;
}

.hero .container-hero2 button {
    color: rgb(250, 250, 250);
    border: 0;
    /* width: 50%;
    height: 50px; */
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    padding: 4px;
    transition: .4ms;
}

.hero .container-hero2 button span {
    background-color: #111;
    padding: 6px 10px;
    border-radius: 6px;
    transition: .3ms;
}

.hero .container-hero2 button:hover span {
    background: none;
}

.hero .container-hero3 {
    grid-area: 1/4/2/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
}

.hero .container-hero3 img {
    width: 80%;
    height: 70%;
    margin: 10px;
}

.container-main {
    display: grid;
    grid-template-columns: 0.3fr 3fr 2fr 3fr 0.3fr;
    grid-template-rows: 13% 87%;
    background-color: aqua;
    margin: 2rem 0;
    padding: 15px 0;
    height: 85vh;
    width: 80%;
    border-radius: 50px;
    border: solid 1px red;
}

.container-main .container-main-about1 {
    grid-area: 1/2/2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container-main .container-main-about2 {
    grid-area: 2/2/3/4;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.container-main .container-main-about3 {
    grid-area: 2/4/3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


.container-main .container-main-about3 img {
    width: 80%;
    height: 80%;
}